@import "../../assets/styles/breakpoints.scss";
@import "../../assets/styles/colors.scss";
@import "../../assets/styles/layout.scss";

.user-row {
  &--container {
    display: flex;
    margin-bottom: 1rem;
    background-color: #DBEAFE;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: $primary;
    align-items: center;
    height: 4.75rem;
    margin: 0.25rem;
    .avatar {
      // margin-top: 1rem;
      // margin-right: 0.5rem;
      // max-width: 3.25rem;
      img {
        border-radius: 50%;
      }
    }
    &-info { 
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
    }
  }
}

@include breakpoint(tablet) {
  .user-row {
    &--container {
      width: 48%;
    }
  }
}
