@import "../../assets/styles/breakpoints.scss";
@import "../../assets/styles/colors.scss";
@import "../../assets/styles/layout.scss";

.user-row {
  &--container {
    cursor: pointer;
    display: flex;
    margin-bottom: 1rem;
    background-color: #dbeafe;
    border-radius: 0.25rem;
    color: $primary;
    align-items: center;
    width: 100%;
    height: 6rem;
    margin: 0.25rem;
    .avatar {
      padding: 1rem 0.5rem;
      img {
        border-radius: 50%;
      }
    }
    &-info {
      padding-left: 0.5rem;
      display: flex;
      flex-direction: column;
      align-items: start;
      .name--info {
        text-align: center;
        width: 100%;
        background-color: $base-light;
        color: $cream;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      .mail--info {
        font-size: 1rem;
      }
      span {
        margin-bottom: 0.25rem;
      }
    }
    &:hover {
      border: 2px solid $primary;
      -webkit-box-shadow: 5px 5px 0px 0px #289fed, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      box-shadow: 5px 5px 0px 0px #289fed, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    }
  }
}

@include breakpoint(tablet) {
  .user-row {
    &--container {
      width: 48%;
    }
  }
}
