@import "../../assets/styles/breakpoints.scss";
@import "../../assets/styles/colors.scss";
@import "../../assets/styles/layout.scss";

.user-row {
  &--container {
    display: flex;
    margin-bottom: 1rem;
    background-color: #DBEAFE;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: $primary;
    align-items: center;
    height: 4.75rem;
    margin: 0.25rem;
    .avatar {
      // margin-top: 1rem;
      // margin-right: 0.5rem;
      // max-width: 3.25rem;
      img {
        border-radius: 50%;
      }
    }
    &-info { 
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
    }
  }
}
.Modal {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  height: 32rem;
  width: 18rem;
  position: absolute;
  transform: translate(-50%, -50%);
}

.Overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rebeccapurple;
}
@include breakpoint(tablet) {
  .user-row {
    &--container {
      width: 48%;
    }
  }
}

