@import "../../assets/styles/colors.scss";
@import "../../assets/styles/breakpoints.scss";

.navbar {
  &--container {
    position:relative;
    padding: 0.5rem;
    background-color: $base-dark;
    &-settings-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 5%;
      margin: 0.25rem;
      font-size: 1.6rem;
      color: $light-blue;
      cursor: pointer;
    }
  }
}

@include breakpoint(tablet) {
  //
}
