@import "normalize.css";
@import "./assets/styles/breakpoints.scss";
@import "./assets/styles/colors.scss";

* {
  box-sizing: border-box;
 }

  body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(-45deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  color: $primary;
  background-size: 400% 400%;
  height: 100vh;
  width: 100vw;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
