@import "../../assets/styles/breakpoints.scss";
@import "../../assets/styles/colors.scss";

.search-input {
    &--container {
      input {
        font-family: "Lato", sans-serif;
        font-size: 1rem;
      }
      #search-input {
        padding: 0.15rem;
        border: 0 none;
        width: 14rem;
        height: 3rem;
        background: #fff;
        box-sizing: border-box;
        vertical-align: bottom;
        color: #999;
        text-transform: uppercase;
        &:focus {
          background: #eee;
        }
      }
    }
}


@include breakpoint(desktop) {
    .application {
        &--container {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            top: 5%;
            left: 0;
            right: 0;
            height: 90%;
            width: 80%;
            background-color: $base-dark;
        }
    }
}


