$base-dark: #282727;
$base-light: #3e3e3e;
$dark60: rgba(0, 0, 0, 0.6);
$dark80: rgba(0, 0, 0, 0.8);
$base-white: #f0f0f0;
$ruby: #bf1140;
$primary: #418ef2;
$light-blue: #99cbeb;
$cream: #f6e8ea;
$app-gray-light: #d1d5db;

