.flex-grid {
  display: flex;
  .col-1 {
    flex: 1;
    height: 100%;
  }
  .col-2 {
    flex: 50%;
    height: 100%;
  }
  .col-3 {
    flex: 30%;
    height: 100%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: 0.15rem;
}
