.flex-grid {
  display: flex;
  .col-1 {
    flex: 1;
    height: 100%;
  }
  .col-2 {
    flex: 50%;
    height: 100%;
  }
  .col-3 {
    flex: 30%;
    height: 100%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-right: 0.15rem;
}
.py-1 {
  padding: 0.5rem 0;
}

.mt-1 {
  margin-top: 0.5rem;
}
.mt-2 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.ml-1 {
  margin-left: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}
.txt-center {
  text-align: center;
}
.bold {
  font-weight: bold;
}