@import "../../assets/styles/colors.scss";
@import "../../assets/styles/breakpoints.scss";

.settings {
  &--container {
    background-color: #3e3e3e;
    height: 18rem,;
    width: 16rem,;
    position: absolute;
    top: 2.75rem;
    right: 1.75rem;
    padding: 1rem;
    border-radius: 5px;
    z-index: 2;
    &-title {
      margin: 1rem;
      display: block;
      color: $light-blue;
      font-size: 1.75rem;
    }
    &-nationalities{
      padding: 0 2rem;
      .nationality-checkbox{
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
    .wrapper {
      position: relative;
      z-index: 3;
    }
    .overlay {
      position: fixed; 
      width: 100%; 
      height: 100%; 
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5); 
      z-index: 2;
      cursor: pointer;
    }
  }
}

@include breakpoint(tablet) {
  //
}
